{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<div class="team-wrapper">
{% for team in teams %}
    <div class="team-card">
        <div class="team-profile">
            <img class="team-pic" src="{{ asset('uploads/' ~ team.teamPic)}}" alt="Team\'s profile picture">
            <h3>{{team.name}}</h3>
        </div>
        <div class="description">
            <p>{{team.description}}</p>
        </div>
        <img class="banner-pic" src="{{asset('uploads/' ~ team.teamBanner )}}" alt="Team\'s banner picture">
    </div>
{% endfor %}
</div>
{% endblock %}
