{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<h2>Create Your Team</h2>
<div class="team-form">
    {{form_start(form)}}
        {{form_row(form.name)}}
        {{form_row(form.description)}}
    {{form_end(form)}}
</div>
{% endblock %}
