{% extends 'base.html.twig' %}
{% block title %}LensPkr Rules{% endblock %}

{% block body %}
<div class="rules-container">
    <h1>LensPkr Rules</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.</p>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.</p>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum mollitia cupiditate temporibus, accusantium perspiciatis numquam quae saepe magnam optio est labore impedit rem cum molestiae, libero animi ex ullam.</p>
</div>
{% endblock %}
