{% extends 'base.html.twig' %}
{% block title %}LensPkr Rules{% endblock %}

{% block body %}
<main class="rules">
    <h1>LensPkr Rules</h1>
    <h3>1. Respect and courtesy</h3>
    <p>Users must interact in a respectful and courteous manner.
        Offensive, discriminatory, abusive or harassing content is strictly forbidden.
        Criticism must be constructive and formulated in a professional manner.</p>
    <h3>2. Content and publications</h3>
    <p>All published content must respect copyright and image rights.</p>
    <p>The use of materials without explicit authorization is forbidden.</p>
    <p>Publications must be relevant to the audiovisual industry.</p>
    <p>Unauthorized advertising and spam will not be tolerated.</p>
    <h3>3. Behavior on the platform.</h3>
    <p>Impersonation or dissemination of false information is prohibited.</p>
    <p>Any attempt at piracy, fraud or exploitation of the site's flaws will be punished.Any attempt at piracy, fraud or exploitation of the site's flaws will be punished.</p>
    <p>The personal information of other users must be respected and may not be shared without consent.</p>
    <h3>4. Moderation and sanctions</h3>
    <p>LensPkr reserves the right to moderate, modify or delete any content that does not comply with the rules.</p>
    <p>In the event of non-compliance with the rules, sanctions may be applied (warning, suspension or deletion of account).</p>
    <h3>5. Evolution of the rules</h3>
    <p>These rules may be updated to ensure the smooth operation of the platform.</p>
    <p>Users will be informed of important changes.</p>
    <p>Thank you for your commitment in making LensPkr a serious and professional exchange space for all audiovisual enthusiasts.</p>
</main>
{% endblock %}



















