*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;}
:root {
    --main-color: #212020;
    --secondary-color: #A30510 ;
    --tertiary-color: #F3EEEE;
  }

body {
    font-family: "Jura", serif;
    background-color: var(--main-color);
}

h2{
    color: var(--secondary-color);
    margin-top: 10px;
    text-align: center;
}
  

/************************ Header *************************/
.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background: linear-gradient(180deg, #F3EEEE 0%, var(--main-color) 100%);
    padding: 5px;

    .navbar-brand{
        margin-left: 10px;
        .logo:hover{
            transition: 150ms ease-in-out;         
            cursor: pointer;
            scale: 1.1;
        }
    }

        .nav-mid{
            display: flex;
            width: 60%;
            justify-content: space-between;
            margin-top: 15px;

                .input-group{
                    border: 1px solid var(--tertiary-color);
                    border-radius: 8px;

                    .btn-outline-secondary{
                        background-color: var(--secondary-color);
                        border: 1px solid var(--tertiary-color);
                        color: var(--tertiary-color);
                    }
                    .btn-outline-secondary:hover{
                        background-color: var(--tertiary-color);
                        color: var(--secondary-color);
                        box-shadow: var(--secondary-color) 3px 3px 3px;
                    }
                    .form-control{
                        background-color: var(--main-color) ;
                    }
                    .form-control:hover{
                        border-color: var(--tertiary-color);
                        box-shadow: var(--secondary-color) 3px 3px 3px;
                    }
                    .form-control:focus{
                        border-color: var(--secondary-color);
                        box-shadow: var(--secondary-color) 3px 3px 3px;
                        color: var(--tertiary-color);
                    }
                    .form-control::placeholder{
                        color: var(--tertiary-color);
                    }
                }

                .job-btns{
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin-left: 50px;

                        .btn{
                            width: 100px;
                            height: 38px;
                            box-shadow: #a30510c3 3px 3px 3px;
                            color: var(--tertiary-color);

                                &.btn-primary{
                                    background-color: var(--secondary-color);
                                    border: var(--tertiary-color) 1px solid;
                                }
                                
                                &.btn-dark{
                                    background-color: var(--main-color);
                                    border: var(--tertiary-color) 1px solid;
                                }
                        }

                        .btn:hover{
                            scale: 1.1;
                            cursor: pointer;
                            transition: 150ms ease-in-out;
                            box-shadow: var(--tertiary-color) 3px 3px 3px;
                            border: 1px solid var(--tertiary-color);
                        }

                }
        }

        .nav-right{
            display: flex;
            width: 15%;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            a{
                background-color: var(--main-color);
                border-radius: 50%;
                padding: 6px;
                box-shadow: var(--secondary-color) 2px 2px 2px;

                .nav-icons{
                    height: 25px;
                    width: 25px;
                }
    
            }
            a:hover{
                scale: 1.1;
                cursor: pointer;
                transition: 150ms ease-in-out;
                box-shadow: var(--tertiary-color) 3px 3px 3px;
            }
        }
}
/************************ SideBar *************************/

.nav-btn{
    position: fixed;
    top: 60px;
    left: 30px;
    box-shadow: var(--secondary-color) 3px 3px 3px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 100;
}
.nav-btn:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: var(--tertiary-color) 3px 3px 3px;
}
.back-btn{
    position: fixed;
    top: 120px;
    left: 30px;
    box-shadow: var(--secondary-color) 3px 3px 3px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 100;

}
.back-btn:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: var(--tertiary-color) 3px 3px 3px;
    background-color: #ffffff00;
}
.edit-btn{
    position: fixed;
    top: 60px;
    right: 30px;
    box-shadow: var(--secondary-color) 3px 3px 3px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 100;
}
.edit-btn:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: var(--tertiary-color) 3px 3px 3px;
    background-color: #ffffff00;
}

.add-image-btn{
    position: fixed;
    top: 120px;
    right: 30px;
    box-shadow: var(--secondary-color) 3px 3px 3px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 100;
}
.add-image-btn:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: var(--tertiary-color) 3px 3px 3px;
    background-color: #ffffff00;
}
.offcanvas{
    background-color: var(--main-color);
    color: var(--tertiary-color);

    .btn-close{
        background-color: var(--secondary-color);
    }

    .offcanvas-body{
        display: flex;
        flex-direction: column;

        .aside-block{
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            a{
                color: var(--tertiary-color);
                padding-left: 10px;
            }
            a:hover{
                color: var(--secondary-color);
            }
        }
        .aside-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: large;
            color: var(--secondary-color);
        }
    }
    span{
        a{
            color: var(--tertiary-color);
        }
        a:hover{
            color: var(--secondary-color);
        }
    }
}

/****************************** Login *************************************************/
.register-card{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--main-color);

    .form-control{
        width: 500px;
        background-color: var(--main-color);
        color: var(--tertiary-color);
        margin-bottom: 20px;
    }
    .form-control:hover{
        border-color: var(--tertiary-color);
        box-shadow: var(--secondary-color) 3px 3px 3px;
    }
    .form-control:focus{
        border-color: var(--secondary-color);
        box-shadow: var(--secondary-color) 3px 3px 3px;
        color: var(--tertiary-color);
    }
    label{
        color: var(--tertiary-color);
    }
    .btn{
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
    }
    .btn:hover{
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        box-shadow: var(--secondary-color) 3px 3px 3px;
    }
}
/* .btn-lg{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0 auto;
}
.btn-lg:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    box-shadow: var(--secondary-color) 3px 3px 3px;
} */

/****************************** Profile *************************************************/

.banner{
    height: 250px;
    width: 100%;
    
    .cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: var(--secondary-color) 3px 3px 3px;

    }
    
    .profile-pic{
        position: relative;
        top: -100px;
        left: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: var(--secondary-color) 3px 3px 3px;
        background-color: #ffffff;
    }
}
/****************************** Skill *************************************************/
.user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .user-info{
        margin-top: 70px;
        margin-left: 20px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: var(--secondary-color) 5px 5px 5px;
        width: 45%;
        background-color: var(--main-color);
        border: var(--secondary-color) 1px solid;

            .edit-btns{
                display: flex;
                justify-content: flex-end;
                margin: 5px;

                a{
                    color: var(--tertiary-color);
                    border: var(--tertiary-color) 1px solid;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: var(--secondary-color) 3px 3px 3px;
                }
            }

            h3{
                color: var(--secondary-color);
                margin-top: 8px;
            }
            p,a{
                color: var(--tertiary-color);
            }
            a:hover{
                color: var(--secondary-color);
                margin: 5px;
            }
            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .form-control{
                    background-color: var(--tertiary-color);
                }
                .form-control:focus{
                    border-color: var(--secondary-color);
                    box-shadow: var(--secondary-color) 3px 3px 3px;
                }
            div{
                color: var(--secondary-color);
                margin: 5px;

                label{
                    margin: 5px;
                }
                input{
                    background-color: var(--main-color);
                    border: none;
                    box-shadow: var(--secondary-color) 3px 3px 3px;
                    color: var(--tertiary-color);
                }
                input:hover{
                    scale: 1.1;
                    transition: 150ms ease-in-out;
                    box-shadow: var(--tertiary-color) 3px 3px 3px;

                }
                textarea{
                    background-color: var(--main-color);
                    border: none;
                    box-shadow: var(--secondary-color) 3px 3px 3px;
                    color: var(--tertiary-color);
                    height: 200px;
                    width: 100%;
                }
                textarea:hover{
                    scale: 1.02;
                    transition: 150ms ease-in-out;
                    box-shadow: var(--tertiary-color) 3px 3px 3px;
                }
            }
        }
}
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3{
        color: var(--secondary-color);
    }
    li{
        color : var(--tertiary-color);
    }
}
/****************************** Message *************************************************/
.message-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;

        div{
            color: var(--tertiary-color);

            a{
                color: var(--secondary-color);
            }
            a:hover{
                color: var(--tertiary-color);
            }
        }

        .btn{
            color: var(--tertiary-color);
            background-color: var(--secondary-color);
        }
        .btn:hover{
            color: var(--secondary-color);
            background-color: var(--tertiary-color);
        }
}
.message-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    padding-right:100px ;
    padding-left:100px ;

    label{
        color: var(--tertiary-color);
        margin-left: 5px;
        margin-right: 15px;
    }
    .btn{
        color: var(--tertiary-color);
        background-color: var(--secondary-color);
        margin: 5px;
    }
    .btn:hover{
        color: var(--secondary-color);
        background-color: var(--tertiary-color);
    }
    input{
        background-color: var(--main-color);
        border: none;
        box-shadow: var(--secondary-color) 3px 3px 3px;
        color: var(--tertiary-color);
    }
    input:hover{
        scale: 1.1;
        transition: 150ms ease-in-out;
        box-shadow: var(--tertiary-color) 3px 3px 3px;

    }
}
.mail-info{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    color: var(--tertiary-color);

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--tertiary-color);
            background-color: var(--main-color);
            border: var(--secondary-color) 1px solid;
            margin-bottom: 2px;
            box-shadow: var(--secondary-color) 3px 3px 3px;
        }

        a{
            color: var(--secondary-color);
        }
}

/****************************** Job *************************************************/

/****************************** Job List *************************************************/

.jobcard{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;

    h2{
        color: var(--secondary-color);
    }

    p{
        color: var(--tertiary-color);
    }

    button{
        background-color: var(--main-color);
        border: none;
        margin-right: 5px;
    }

    .btn{
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--tertiary-color);
        background-color: var(--main-color);
        border: var(--secondary-color) 1px solid;
        margin-bottom: 2px;
        box-shadow: var(--secondary-color) 3px 3px 3px;
    }
    .btn:hover{
        color: var(--secondary-color);
        background-color: var(--tertiary-color);
    }
}
.post-job{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 10px;

        input{
            background-color: var(--main-color);
            border: none;
            border-radius: 5px;
            box-shadow: var(--secondary-color) 3px 3px 3px;
            color: var(--tertiary-color);
            margin-bottom: 10px;
        }
        label{
            color: var(--tertiary-color);
            margin: 10px;
        }
        textarea{
            background-color: var(--main-color);
            border: var(--secondary-color) 1px solid;
            border-radius: 5px;
            box-shadow: var(--secondary-color) 3px 3px 3px;
            color: var(--tertiary-color);
            height: 200px;
            width: 100%;
        }
        textarea:hover,input:hover{
            scale: 1.02;
            transition: 150ms ease-in-out;
            box-shadow: var(--tertiary-color) 3px 3px 3px;
        }

        .btn{
            width: 100px;
            height: 30px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--tertiary-color);
            background-color: var(--main-color);
            border: var(--secondary-color) 1px solid;
            margin-bottom: 2px;
            box-shadow: var(--secondary-color) 3px 3px 3px;
        }
        .btn:hover{
            color: var(--secondary-color);
            background-color: var(--tertiary-color);
        }
}

.reader{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 10px;

    p{
        color: var(--tertiary-color);

        a{
            color: var(--tertiary-color);
        }
        a:hover{
            color: var(--secondary-color);
        }
    }


    .btn{
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .btn:hover{
        /* color: var(--secondary-color); */
        background-color: var(--tertiary-color);
        box-shadow: var(--tertiary-color) 3px 3px 3px;
    }
    .btn-warning{
        background-color: var(--main-color);
        color: var(--secondary-color);
        border: var(--secondary-color) 1px solid;
        box-shadow: var(--secondary-color) 3px 3px 3px;
        border-radius: 5px;
    }
    .action-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .btn-danger{
            background-color: var(--secondary-color);
            border: none;
        }
        .btn-primary{
            background-color: var(--tertiary-color);
            color: var(--main-color);
            border: none;
        }

    }
}

/******************************* Project *************************************************/
.add-project{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-shadow: var(--secondary-color) 5px 5px 5px;
    margin-top: 50px;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 10px;

    input{
        background-color: var(--main-color);
        border: none;
        border-radius: 5px;
        box-shadow: var(--secondary-color) 3px 3px 3px;
        color: var(--tertiary-color);
        margin-bottom: 10px;
    }
    label{
        color: var(--tertiary-color);
        margin: 10px;
    }
    textarea{
        background-color: var(--main-color);
        border: var(--secondary-color) 1px solid;
        border-radius: 5px;
        box-shadow: var(--secondary-color) 3px 3px 3px;
        color: var(--tertiary-color);
        height: 200px;
        width: 98%;
        margin-left: 5px;
    }
    textarea:hover,input:hover{
        scale: 1.02;
        transition: 150ms ease-in-out;
        box-shadow: var(--tertiary-color) 3px 3px 3px;
    }

    .btn{
        width: 100px;
        height: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--tertiary-color);
        background-color: var(--main-color);
        border: var(--secondary-color) 1px solid;
        margin-bottom: 2px;
        box-shadow: var(--secondary-color) 3px 3px 3px;
    }
    .btn:hover{
        color: var(--secondary-color);
        background-color: var(--tertiary-color);
    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

    .project-card{
        width: 30%;
        margin: 0 auto;
        box-shadow: var(--secondary-color) 5px 5px 5px;
        border: var(--secondary-color) 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: none;
        position: relative;

        .card{

            background-color: #ffffff00;

            .img-card{
                height: 180px;
                width: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
    
            .label{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                h3{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    color: var(--tertiary-color);
                    margin-bottom: 5px;
                    font-size: medium;
                    width: 40%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p{
                    color: var(--tertiary-color);
                    font-size: smaller;
                    margin-bottom: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
        
                }
    
                .creator{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 60%;
    
                    p{
                        width: 100%;
                        color: var(--tertiary-color);
                        font-size: medium;
                    }
                    .creator-pic{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 5px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .date{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                span{
                    color: var(--tertiary-color);
                    font-size: smaller;
                }
            }
        }
    }
    
    .project-card:hover{
        scale: 1.02;
        transition: 150ms ease-in-out;
        box-shadow: var(--tertiary-color) 3px 3px 3px;

    }

}

.project-banner{
    height: 600px;
    width: 100%;
    position: relative;

    .banner-filter{
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        width: 100%;
        background: linear-gradient(rgba(33, 32, 32, 0), rgba(33, 32, 32, 1));
    
    }
    .banner-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    a{
        text-decoration: none;

        .profile-pic{
            position: absolute;
            top: 50px;
            left: 80px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            box-shadow: var(--secondary-color) 3px 3px 3px;
            overflow: hidden;
            background-color: #ffffff;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        p{
            position: absolute;
            top: 140px;
            left: 300px;
            color: var(--secondary-color);
            font-size: xx-large;
            font-weight: bolder;
        }
        p:hover{
            text-decoration: underline;
            cursor: pointer;
            transition: 150ms ease-in-out;
            color: var(--tertiary-color);
        }
    }
    h2{
        position: absolute;
        top: 400px;
        left: 50%;
        color: var(--secondary-color);
    }
}

.project-page{
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 10px;

        p{
            color: var(--tertiary-color);
            padding-left: 20px;
            padding-right: 20px;
        }

        .images{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            img{
                max-width: 600px;
                max-height: 350px;
                object-fit: cover;
                margin: 10px;
                border-radius: 5px;
                box-shadow: var(--secondary-color) 5px 5px 5px;
            }
        }
}
