{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}


{% block body %}
    <h2 class="text-center">Your answer</h2>
    <div class="message-form">
        {{form(form)}}
    </div>
{% endblock %}
