{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h2>New Project</h2>
    <div class="add-project">
        {{ form(form) }}
    </div>
{% endblock %}
