{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<div class="project-title">
    <h2>New Project</h2>
    <p>Add a new project</p>
    <p>Fill in the form below to create a new project</p>
</div>
    <div class="add-project">
        {{ form(form) }}
    </div>
{% endblock %}